export(addBcc)
export(addCc)
export(addFrom)
export(addTo)
export(authenticate)
export(buildMultipart)
export(close)
export(closeFolder)
export(deleteBufferedEmails)
export(deleteSelectedEmail)
export(downloadAttachments)
export(fetchAllEmails)
export(fetchEmails)
export(getAllRecipients)
export(getBcc)
export(getBufferedEmailsCount)
export(getCc)
export(getDeletedEmailsCount)
export(getFileName)
export(getFrom)
export(getHtmlBody)
export(getLegalAttachmentNames)
export(getNewEmailsCount)
export(getOriginalAttachmentNames)
export(getPlainBody)
export(getReceivedDate)
export(getReplyTo)
export(getSender)
export(getSentDate)
export(getSize)
export(getSubject)
export(getTo)
export(getUnreadEmailsCount)
export(init)
export(isConnected)
export(jmr.new)
export(jms.new)
export(openFolder)
export(saveChanges)
export(scanAttachments)
export(searchDeletedEmails)
export(searchDraftEmails)
export(searchFlaggedEmails)
export(searchReadEmails)
export(searchRepliedEmails)
export(selectBufferedEmail)
export(send)
export(sendEmail)
export(setBcc)
export(setCc)
export(setContent)
export(setDebug)
export(setEncryption)
export(setFallback)
export(setFlags)
export(setFrom)
export(setHost)
export(setHtmlBody)
export(setPlainBody)
export(setPort)
export(setSocketFactoryClass)
export(setSubject)
export(setText)
export(setTo)
importFrom(rJava,.jarray)
importFrom(rJava,.jnew)
importFrom(rJava,.jnull)
